{% extends 'DyweeOrderCMSBundle::layout.html.twig' %}

{% block body %}
    <section class="vbox">
        <section class="padder-lg">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="font-thin m-b">Liste de vos commandes</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% include 'DyweeOrderCMSBundle:User:table.html.twig' %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}
